h1 where you wanna go
a(href='/customer') Customer Page 
br
a(href='/vendor') Vendor Page 

form(action='/test', method='POST')
    label.linktitle(for='name') Song Name
    input#name.input(type='name', name='name', value=name, placeholder='Enter song name here')
    button.btn(type="enter") enter