h1 Where you wanna go
a(href='/customer') Customer Page 
br
a(href='/vendor') Vendor Page 
br 
a(href='/order') Order Page(For Test) <!-- A test for order, will move to vendor page when vendor is deployed successfully. -->