link(rel='stylesheet', href='/stylesheets/homepage.css')
.headerContainer
    h1 Welcome to our Customer APP
    br
    span Feel free to try our Customer APP features by using the link below 
    a(href='/customer') Snacks in a Van - Customer version
    br
    p Wish you lots of fun of using our APP!
